*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
 --primarycolor:#FB2E86;
 --font-primary:"Josefin Sans", sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul{
   list-style-type: none;   
}

a{
    text-decoration: none;
    
}
.btn{
    
   padding: 16px 30px;
    color: white;
    background-color: var(--primarycolor);
    font-size: 18px;
    border: 0;
    font-family: var(--font-primary);
}
.btn:hover{
 background-color: #ce1364;
}
.pt-b{
    padding: 50px 0;
}


