.header{
    width: 100%;
    position: sticky;
    z-index: 1;
    top: 0px;
    padding: 40px 0;
    background-color: white;
}
.logo img{
    width: 98px;
    height: 34px;
}
.right{
    display: flex;
    gap: 88px;
    align-items: center;
}
.list ul{
    display: flex;
    list-style-type: none;
    gap: 35px;
    
}
.list ul li a{
    color: #0D0E43;
}
.header .container {
 display: flex;
   justify-content: space-between;
   align-items: center;

}
.search-form{
    display: flex;
}
.search-form form {
    display: flex;
     border: 2px solid #E7E6EF;
    height: 40px;
}
.header input{
    border: 0;
}
.header button{
       border: 0;
    padding: 10px;
    background-color: var(--primarycolor);
}
.list a{
    transition: .9s;
}
.list a:hover{
color: var(--primarycolor);
}
.icon{
    display: none;
}

/* hero */
.hero{
    background-color: #f2f0ff;
}
.hero_left img{
    width: 100%;
    height: 100%;
}
.hero_right{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap:25px;
}
.hero_right h1{
    font-size: 50px;
    font-family: var(--font-primary);
    font-weight: normal;
}
.hero_right  p{

    color: #8A8FB9;
}
.hero_right h2{
    color: var(--primarycolor);
    font-size: 16px;
}

/* Featured Products  */

.Featured_Products .row{
   
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
  
}
.Featured_Products{
    text-align: center;
   
}
.Featured_Products h2{
    color: #1A0B5B;
    margin-bottom: 35px;
    font-size: 32px;
    font-family: var(--font-primary);
}
.product-details{
    width: calc((100% - 90px)/4);
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.237);
}
.product-img{
    position: relative;
    height: 250px; 
    height: 250px;
   padding: 12px;
    background-color: #F6F7FB;
}
.product-img a{
    
    background-color: #08D15F;
    padding: 7px;
    border-radius: 2px;
    color: white;
     box-sizing: border-box;
     border: 0;
    opacity: 0;
      position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);

}
.product-info{
display: flex;
flex-direction: column;
padding: 10px;
gap: 7px;
}
.product-info h3{
    color: var(--primarycolor);
}
.btns {
    width: 14px;
    height: 4px;
   border: 0;
   border-radius: 2px;
}
.color1{
    background-color: #05E6B7;
    
}
.color2{
    background-color: #F701A8;
}
.color3{
    background-color: #00009D;
}

.product-info span{
    color: #151875;
}
.code{
    font-family: var(--font-primary);
}
.icon_details{
    display: flex;
    gap: 15px;
    color: #1389ffe8;
    opacity: 0;
}

.product-details:hover{
    background-color: #2F1AC4;
}
.product-details:hover .product-info h3,
.product-details:hover .product-info span
 {
    color: white;
}
.product-details:hover  .product-img{
    background-color: #F7F7F7;
}
.product-details:hover .icon_details{
    opacity: 1;
}
.product-details:hover .product-img a{
    opacity: 1;
}


/* Leatest Products */
.Leatest_Products{
    width: 100%;
    text-align: center;
}
.Leatest_Products .row{
    gap:40px;

}
.Leatest_Products h2{
    color: var(--secndcolor);
    font-family: var(--font-primary);
    font-size: 32px;
}
.Leatest_details{
   width: calc((100% - 80px) / 3);

}
.products-nav ul{
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   gap:50px;
   padding: 15px 0 40px 0;
   font-size: 18px;
   color: var(--secndcolor);
  
}
.products-nav ul a{
 transition: .7s;
}
.products-nav ul a:hover{
    text-decoration: underline;
    color: var(--primarycolor);

}
.Leatest_img{
    background-color: #F7F7F7;
    padding: 20px;
    position: relative;
}

.Leatest_info{
    padding: 10px 0;
    font-family: var(--font-primary);
}
.product-price{
   display: flex;
   gap: 16px;

}
.Leatest_info p{
    color: var(--secndcolor);
}
.current_price{
    color: var(--secndcolor);
    font-size: 14px;
    font-weight: bold;
}
.old_price{
    color: var(--primarycolor);
    text-decoration: line-through;
    font-size: 12px;
}
.Leatest_info p::after {
    content: '';
    width: 155px;
    height: 3px;
    background-color: #EEEFFB;
    display: block;
    margin-top: 5px;
}
.chair{
    height: 300px;
    padding: 10px;
    width: 300px;
}
.Leatest_details:hover .Leatest_img .chair {
border: 2px solid black;

}

.Leatest_details:hover .Leatest_img{
background-color: white;
}
.sale{
    position: absolute;
    width: 110px;
    height: auto;
    left: 25px;
    opacity: 0;
}
.Leatest_details:hover .sale{
    opacity: 1;
}
.icon_Leatest{
   position: absolute;
   bottom: 20%;
   left: 10%; 
   display: flex;
   flex-direction: column;
   gap: 20px; 
   color: #2f1ac4;
   opacity: 0;
    
}
.Leatest_details:hover  .icon_Leatest{
     opacity: 1;
}

/* what */
.what{
    text-align: center;
    width: 100%;
}
.what .row{
    gap:25px;
}
.what h2{
    color: var(--secndcolor);
    font-size: 48px;
    margin-bottom: 30px;
}
.what_details{
    padding: 50px 10px;
    width: calc((100% - 75px)/4);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 4px 4px 0px #0000000d;
}
.what_details h3{
    color: var(--secndcolor);
    font-family: var(--font-primary);
    font-size: 22px;
}
.what_details p{
    color: rgba(26, 11, 91, 0.3);
    font-size: 16px;
    font-weight: bold;
}
/* Trending Products */
.Trending_Products {
    text-align: center;
    width: 100%;
}
.Trending_details .row{
    gap:40px;
}
 .Trending_Products h2, .Top_Categories h2{
    color: var(--secndcolor);
    font-size: 42px;
    font-family: var(--font-primary);
    margin-bottom: 30px;
}
.Trending_details{
    width: calc((100% - 120px)/4);
    margin-top: 20px;
   
}
.img-trend{
     background-color: #F5F6F8;
     padding: 20px;
     height:85%;
}
.Trending_info{
    padding: 20px;
}
.Trending_price{
    padding: 10px;
    display: flex;
    gap:10px;
    justify-content: center;
}
.Trending_info h3{
 color: var(--secndcolor);
}
.Trending_price .old_price{
    color:#b9bad6;
}

 /* Top Categories */
.Top_Categories{
    text-align: center;
}
.Top_Categories .row{
    gap: 30px;
}
.Categories_details{
    width: calc((100% - 90px)/4);
    padding: 50px 0px;
}
.img-Categories{
    position: relative;
    background-color: #F6F7FB;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    padding: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.Categories_info{
    padding: 15px;
    color: var(--secndcolor);
    display: flex;
    flex-direction: column;
    gap: 8px;
}
 .Categories_details:hover .img-Categories{
  box-shadow: -9px 6px 0px 0px #9071da;
}
.img-Categories a{
 position: absolute;
 bottom: 15px;
 padding: 10px 20px;
 color: white;
 background: #08D15F;
 border: 0;
 font-family: var(--font-primary);
 display: none;
}
 .Categories_details:hover .img-Categories a{
    display: block;
 }
  /* Newslater section */
.Newslater{
    height: 462px;
    background-image: url(./../image/Rectangle\ 102.png);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    gap: 25px;
}
.Newslater h2{
    font-family: var(--font-primary);
    font-size: 35px;
    color: #151875;
}

/* Leatest Blog */
 
 .Blog .row{
    gap: 50px;
   
 }
 .Blog_details{
    width: calc((100% - 100px)/3);
    box-shadow: 0px 8px 40px 0px #32208a10;
    
 }
 .Blog h2{
    color: var(--secndcolor);
    font-size: 42px;
    font-family: var(--font-primary);
    margin-bottom: 30px;
    text-align: center;
 }
 .img-Blog img{
    width: 100%;
  border-radius: 10px;
 }
 .Blog_info{
    display: flex;
    gap: 25px;
    flex-direction: column;
    padding: 20px 20% 30px 15px;
 }
 .author-info{
    display: flex;
    gap: 40px;
    align-items: end;
 }
 .author-name,.post-date{
    display: flex;
    gap:6px;
 }
 .author-name i{
    color: var(--primarycolor);
    font-size: 12px;
 }
 .author-name span{
    color: var(--secndcolor);
    font-family: var(--font-primary);
    font-size: 14px;
 }
 .post-date span{
   color:var(--secndcolor) ;
   font-family: var(--font-primary);
   font-size: 14px;
 }
  .post-date  i{
    color: #FFA454;
    font-size: 12px;
 }
 .Blog_info h3{
    color: var(--secndcolor);
    font-weight: bold;
    font-family: var(--font-primary);
 }
 .Blog_info{
    color: #72718F;
    font-size: 18px;
 }
 .Blog_info a{
    color: var(--secndcolor);
    font-size: 16px;
    font-weight: bold;  
 }
 .Blog_info a::after{
    content: "";
    width:76px;
    height: 1px;
    background-color: var(--secndcolor);
    display: block;
    margin-top: 3px
 }
 .Blog_details:hover h3,
 .Blog_details:hover a
 {
    color: var(--primarycolor);
 }
 .Blog_details:hover .Blog_info a::after {
    background-color: var(--primarycolor);
 }
 
/* footer */
.footer{
    background-color:#e0e2f3;
    padding: 100px 0;
}
.footer button{
    border: 0;
    background-color: var(--primarycolor);
    color: white;
    padding: 10px 40px;
    text-align: center;
}
.footer input{
    padding: 10px;
    border: 0;
}
.email-form form{
    display: flex;
}
.email-form{
    display: flex;
    border: 2px solid #E7E6EF;
    height: 40px;
    border: 0
}

.footer_left{
    display: flex;
    flex-direction: column;
    gap:27px;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #8A8FB9;
}
.footer_right .row{
    gap:38px;
}
.footer_item{
 display: flex;
 flex-direction: column;
 gap: 35px;
}
.footer_item ul{
    display: flex;
    flex-direction: column;
    gap: 23px;
   
}
.footer_item ul li a{
 color: #8A8FB9;
}

 
 
/* responsive */

/*responsive design to header */

@media screen and (min-width:1156px) and (max-width :1360px) {
.header .container{
 
   gap:100px;
  
}
.right{
    gap: 40px;
}

}
@media screen and (min-width:601px) and (max-width :1157px){

  .list ul,.search-form form{
    display: none;
  }
  .icon{
    display: block;
    font-size: 28px;
  }
  .header .container {
 display: flex;
  justify-content: space-between;
   align-items: center;

}
}
@media (min-width:300px) and (max-width:600px) {
  .header {
    padding: 20px;
  }
  .header .container {
    display: flex;
    
    justify-content: space-between;
    gap: 10px;
  }
  .list ul,
  .search-form form {
    display: none !important;
  }
  .icon {
    display: block;
    font-size: 28px;
  }
}



/*responsive design to footer*/
@media (min-width:300px) and (max-width:600px) {
 
    .footer {
      text-align: center;
    width: 100%;
    padding: 60px 0;
  }
  .footer .row {
      flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
  }
  .footer .container {
    width: 100%;       
    max-width: none; 
    margin: 0 ;    
    padding: 0 20px;   
}
  .footer_item {
    gap: 20px;
  }
  .email-form {
    flex-direction: column;
    height: auto;
    align-items: center;
    
  }
  .email-form input {
   width: 145px;
   
  }
 
}


/*responsive design to section */
@media screen and (min-width:1156px) and (max-width :1360px) {


}
@media screen and (min-width:601px) and (max-width :1157px){
.Newslater h2{
    font-size: 28px;
    text-align: center;
}
.Newslater button{
   padding: 10px 20px; 
   font-size: 16px; 
}
}
@media (min-width:300px) and (max-width:600px) {
.Newslater h2{
    font-size: 25px;
    text-align: center;
}
.Newslater button{
   padding: 10px 20px; 
   font-size: 16px; 
}
}





@media screen and (min-width:1156px) and (max-width :1360px) {
.product-details{
    width: calc((100% - 60px)/3);
     
}

}
@media screen and (min-width:601px) and (max-width :1157px){
.product-details{
    width: calc((100% - 30px)/ 2);
     
}

}
@media (min-width:300px) and (max-width:600px) {
.product-details{
    width: 100%;
     
}
}

/* hero */

@media screen and (min-width:300px) and (max-width :600px){
    
    .hero_left img{
        width: 100%;
        height: 100%;
        
    }
    .hero_right{
        text-align: center;
        align-items: center;
    }
    
    .hero_right h1{
         font-size: 24px;
    }
    .hero_right button{
        padding: 8px 15px;
    }
    .hero .row{
       gap:20px;
       flex-direction:column-reverse;
    }
    .hero_right h2{
        font-size: 10px;
    }
}
@media screen and (min-width:1156px) and (max-width :1660px) {
     .hero_left {
        width: 100%;
        text-align: center;
     }
.hero .row{
       gap:20px;
       flex-direction:column-reverse;
    }
 .hero_right{
        text-align: center;
        align-items: center;
    }
    .hero_left img{
        width: 80%;
        height: 80%;
        
    }
}


/* .Leatest_Products */
@media screen and (min-width:1156px) and (max-width :1660px) {

.sale{
    top:12px;
    position: absolute;
    width: 110px;
    left: -3px;
}
.icon_Leatest{
    left: -8px;
    bottom: 62px;
}
}
@media screen and (min-width:1156px) and (max-width :1360px) {
.Leatest_details{
   width: calc((100% - 40px) / 2);

}

}
@media screen and (min-width:601px) and (max-width :1157px){
.Leatest_details{
   width: calc((100% - 40px) / 2);
}
   .chair{
     height: 200px;
   
    width: 200px;
}

}
@media (min-width:300px) and (max-width:600px) {
.Leatest_details{
   width: 100%;
}
.chair{
     height: 150px;
    padding: 10px;
    width: 150px;
}
.sale{
    position: absolute;
    width: 80px;
    left: 6%;
}
.Leatest_info .row{
   justify-content: center;
}
}


@media screen and (min-width:601px) and (max-width :1156px){
.what_details{
    padding: 20px 0;
    width: calc((100% - 25px)/2);
    gap: 20px;
}
  
}
@media (min-width:300px) and (max-width:600px) {
.what_details{
    padding: 20px 0;
    width: 100%;
    gap: 20px;
}
}

/* Trending Products */
@media (min-width:300px) and (max-width:600px) {
.Trending_details{
    padding: 20px 0;
    width: 100%;
    gap: 20px;
}
}

@media screen and (min-width:601px) and (max-width :1156px){
.Trending_details{
    padding: 20px 0;
    width: calc((100% - 25px)/2);
    gap: 20px;
}
  
}

@media screen and (min-width:1157px) and (max-width :1360px) {

.Trending_details{
   width: calc((100% - 50px) / 3);
   .chair{
     height: 200px;
   
    width: 200px;
}

}
  
}

 /* Top Categories */
 @media (min-width:300px) and (max-width:600px) {
.Categories_details{
    width: 100%;
   
}
 }
@media screen and (min-width:601px) and (max-width :1156px){
    .Categories_details{ 
    width: calc((100% - 30px)/2);
    }
  
}

@media screen and (min-width:1157px) and (max-width :1360px) {
.Categories_details{ 
    width: calc((100% - 60px)/3);
    }
  

}

/* Leatest Blog */
 @media (min-width:300px) and (max-width:600px) {
.Blog_details{
    width: 100%;
   
}

 }
@media screen and (min-width:601px) and (max-width :1156px){
    .Blog_details{ 
    width: calc((100% - 50px)/2);
    }
  
}