.header{
    width: 100%;
    /* position: fixed; */
    padding: 40px 0;
    background-color: white;
}
.logo img{
    width: 98px;
    height: 34px;
}
.right{
    display: flex;
    gap: 88px;
    align-items: center;
}
.list ul{
    display: flex;
    list-style-type: none;
    gap: 35px;
    
}
.list ul li a{
    color: #0D0E43;
}
.header .container {
 display: flex;
   justify-content: space-between;
   align-items: center;

}
.search-form{
    display: flex;
}
.search-form form {
    display: flex;
     border: 2px solid #E7E6EF;
    height: 40px;
}
.header input{
    border: 0;
}
.header button{
       border: 0;
    padding: 10px;
    background-color: var(--primarycolor);
}
.list a{
    transition: .9s;
}
.list a:hover{
color: var(--primarycolor);
}
.icon{
    display: none;
}

/* Leatest Products */
.Leatest_Products{
    width: 100%;
    text-align: center;
}
.Leatest_Products .row{
    gap:40px;

}
.Leatest_Products h2{
    color: var(--secndcolor);
    font-family: var(--font-primary);
    font-size: 32px;
}
.Leatest_details{
   width: calc((100% - 80px) / 3);

}
.products-nav ul{
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   gap:50px;
   padding: 15px 0 40px 0;
   font-size: 18px;
   color: var(--secndcolor);
  
}
.products-nav ul a{
 transition: .7s;
}
.products-nav ul a:hover{
    text-decoration: underline;
    color: var(--primarycolor);

}
.Leatest_img{
    background-color: #F7F7F7;
    padding: 20px;
    position: relative;
}

.Leatest_info{
    padding: 10px 0;
    font-family: var(--font-primary);
}
.product-price{
   display: flex;
   gap: 16px;

}
.Leatest_info p{
    color: var(--secndcolor);
}
.current_price{
    color: var(--secndcolor);
    font-size: 14px;
}
.old_price{
    color: var(--primarycolor);
    text-decoration: line-through;
    font-size: 12px;
}
.Leatest_info p::after {
    content: '';
    width: 155px;
    height: 3px;
    background-color: #EEEFFB;
    display: block;
    margin-top: 5px;
}
.chair{
    height: 300px;
    padding: 10px;
    width: 300px;
}
.Leatest_details:hover .Leatest_img .chair {
border: 2px solid black;

}

.Leatest_details:hover .Leatest_img{
background-color: white;
}
.sale{
    position: absolute;
    width: 110px;
    height: auto;
    left: 10%;
    opacity: 0;
}
.Leatest_details:hover .sale{
    opacity: 1;
}
/* footer */
.footer{
    background-color:#e0e2f3;
    padding: 100px 0;
}
.footer button{
    border: 0;
    background-color: var(--primarycolor);
    color: white;
    padding: 10px 40px;
    text-align: center;
}
.footer input{
    padding: 10px;
    border: 0;
}
.email-form form{
    display: flex;
}
.email-form{
      display: flex;
     border: 2px solid #E7E6EF;
    height: 40px;
}

.footer_left{
    display: flex;
    flex-direction: column;
    gap:27px;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #8A8FB9;
}
.footer_right .row{
    gap:38px;
}
.footer_item{
 display: flex;
 flex-direction: column;
 gap: 35px;
}
.footer_item ul{
    display: flex;
    flex-direction: column;
    gap: 23px;
   
}
.footer_item ul li a{
 color: #8A8FB9;
}
 /* Newslater section */
.Newslater{
    height: 462px;
    background-image: url(./../image/Rectangle\ 102.png);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    gap: 25px;
}
.Newslater h2{
    font-family: var(--font-primary);
    font-size: 35px;
    color: #151875;
}




.Featured_Products .row{
   
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
  
}
.Featured_Products{
    text-align: center;
   
}
.Featured_Products h2{
    color: #1A0B5B;
    margin-bottom: 35px;
    font-size: 32px;
    font-family: var(--font-primary);
}
.product-details{
    width: calc((100% - 90px)/4);
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.237);
}
.product-img{
    position: relative;
    height: 250px; 
    height: 250px;
   padding: 12px;
    background-color: #F6F7FB;
}
.product-img button{
    
    background-color: #08D15F;
    padding: 7px;
    border-radius: 2px;
    color: white;
     box-sizing: border-box;
     border: 0;
    opacity: 0;
      position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);

}
.product-info{
display: flex;
flex-direction: column;
padding: 10px;
gap: 7px;
}
.product-info h3{
    color: var(--primarycolor);
}
.btns {
    width: 14px;
    height: 4px;
   border: 0;
   border-radius: 2px;
}
.color1{
    background-color: #05E6B7;
    
}
.color2{
    background-color: #F701A8;
}
.color3{
    background-color: #00009D;
}

.product-info span{
    color: #151875;
}
.code{
    font-family: var(--font-primary);
}
.icon_details{
    display: flex;
    gap: 15px;
    color: #1389ffe8;
    opacity: 0;
}

.product-details:hover{
    background-color: #2F1AC4;
}
.product-details:hover .product-info h3,
.product-details:hover .product-info span
 {
    color: white;
}
.product-details:hover  .product-img{
    background-color: #F7F7F7;
}
.product-details:hover .icon_details{
    opacity: 1;
}
.product-details:hover .product-img button{
    opacity: 1;
}
 

/* hero */
.hero{
    background-color: #f2f0ff;
}
.hero_left img{
    width: 500px;
    height: 500px;
}
.hero_right{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap:25px;
}
.hero_right h1{
    font-size: 50px;
    font-family: var(--font-primary);
    font-weight: normal;
}
.hero_right  p{

    color: #8A8FB9;
}
.hero_right h2{
    color: var(--primarycolor);
    font-size: 16px;
}



/* responsive */

/*responsive design to header */

@media screen and (min-width:1156px) and (max-width :1360px) {
.header .container{
 
   gap:100px;
  
}
.right{
    gap: 40px;
}

}
@media screen and (min-width:601px) and (max-width :1157px){

  .list ul,.search-form form{
    display: none;
  }
  .icon{
    display: block;
    font-size: 28px;
  }
  .header .container {
 display: flex;
  justify-content: space-between;
   align-items: center;

}
}
@media (min-width:300px) and (max-width:600px) {
  .header {
    padding: 20px;
  }
  .header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  .list ul,
  .search-form form {
    display: none !important;
  }
  .icon {
    display: block;
    font-size: 28px;
  }
}



/*responsive design to footer*/
@media (min-width:300px) and (max-width:600px) {
 
    .footer {

    width: 100%;
    padding: 60px 0;
  }
  .footer .row {
      flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
  }
  .footer .container {
    width: 100%;       
    max-width: none; 
    margin: 0 ;    
    padding: 0 20px;   
}
  .footer_item {
    gap: 20px;
  }
  .email-form {
    flex-direction: column;
    height: auto;
    
  }
  .email-form input {
   width: 145px;
   
  }
 
}


/*responsive design to section */
@media screen and (min-width:1156px) and (max-width :1360px) {


}
@media screen and (min-width:601px) and (max-width :1157px){
.Newslater h2{
    font-size: 28px;
    text-align: center;
}
.Newslater button{
   padding: 10px 20px; 
   font-size: 16px; 
}
}
@media (min-width:300px) and (max-width:600px) {
.Newslater h2{
    font-size: 25px;
    text-align: center;
}
.Newslater button{
   padding: 10px 20px; 
   font-size: 16px; 
}
}





@media screen and (min-width:1156px) and (max-width :1360px) {
.product-details{
    width: calc((100% - 60px)/3);
     
}

}
@media screen and (min-width:601px) and (max-width :1157px){
.product-details{
    width: calc((100% - 30px)/ 2);
     
}

}
@media (min-width:300px) and (max-width:600px) {
.product-details{
    width: 100%;
     
}
}

/* hero */

@media screen and (min-width:300px) and (max-width :600px){
    
    .hero_left img{
        width: 200px;
        height: 200px;
        
    }
    
    .hero_right h1{
         font-size: 24px;
    }
    .hero_right button{
        padding: 8px 15px;
    }
    .hero .row{
       gap:20px
    }
    .hero_right h2{
        font-size: 10px;
    }
}

/* .Leatest_Products */

@media screen and (min-width:1156px) and (max-width :1360px) {
.Leatest_details{
   width: calc((100% - 40px) / 2);

}

}
@media screen and (min-width:601px) and (max-width :1157px){
.Leatest_details{
   width: calc((100% - 40px) / 2);
   .chair{
     height: 200px;
   
    width: 200px;
}

}
  
}
@media (min-width:300px) and (max-width:600px) {
.Leatest_details{
   width: 100%;
}
.chair{
     height: 150px;
    padding: 10px;
    width: 150px;
}
.sale{
    position: absolute;
    width: 80px;
   
    left: 6%;
}
.Leatest_info .row{
   justify-content: center;
}
}
