.header{
    width: 100%;
    /* position: fixed; */
    padding: 40px 0;
    background-color: white;
}
.logo img{
    width: 98px;
    height: 34px;
}
.right{
    display: flex;
    gap: 88px;
    align-items: center;
}
.list ul{
    display: flex;
    list-style-type: none;
    gap: 35px;
    
}
.list ul li a{
    color: #0D0E43;
}
.header .container{
 display: flex;
   gap:230px;
   align-items: center;

}
.search-form{
    display: flex;
}
.search-form form {
    display: flex;
     border: 2px solid #E7E6EF;
    height: 40px;
}
.header input{
    border: 0;
}
.list a{
    transition: .9s;
}
.list a:hover{
color: var(--primarycolor);
}
.icon{
    display: none;
}


/* footer */
.footer{
    background-color:#e0e2f3;
    padding: 100px 0;
}
.footer button{
    border: 0;
    background-color: var(--primarycolor);
    color: white;
    padding: 10px 40px;
    text-align: center;
}
.footer input{
    padding: 10px;
    border: 0;
}
.email-form form{
    display: flex;
}
.email-form{
      display: flex;
     border: 2px solid #E7E6EF;
    height: 40px;
}

.footer_left{
    display: flex;
    flex-direction: column;
    gap:27px;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #8A8FB9;
}
.footer_right .row{
    gap:38px;
}
.footer_item{
 display: flex;
 flex-direction: column;
 gap: 35px;
}
.footer_item ul{
    display: flex;
    flex-direction: column;
    gap: 23px;
   
}
.footer_item ul li a{
 color: #8A8FB9;
}
 /* Newslater section */
.Newslater{
    height: 462px;
    background-image: url(./../image/Rectangle\ 102.png);
    margin:40px 0 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.Newslater h2{
    font-family: var(--font-primary);
    font-size: 35px;
    color: #151875;
}
.Newslater button{
    padding: 16px 30px;
    color: white;
    background-color: var(--primarycolor);
    font-size: 18px;
    border: 0;
}
.Newslater button:hover{
 background-color: #ce1364;
}


/*responsive design to header */

@media screen and (min-width:1156px) and (max-width :1360px) {
.header .containar{
 
   gap:100px;
  
}
.right{
    gap: 40px;
}

}
@media screen and (min-width:700px) and (max-width :1157px){

  .list ul,.search-form form{
    display: none;
  }
  .icon{
    display: block;
    font-size: 28px;
  }
}
@media screen and (min-width: 300px) and (max-width: 701px){
  
    .list ul,.search-form form{
        
    display: none;
  }
  .icon{
    display: block;
    font-size: 28px;
  }
  .header{
    width: 100vh;
  }
  .header .container{
 
   gap:10px;
  display: flex;
  flex-wrap: wrap;
 text-align: center;
 
 padding:0 100px;
}

}

/*responsive design to footer*/
@media screen and (min-width:300px) and (max-width :500px){
    .footer{
        width: 100%;
    }
    .footer button{
    
    padding: 7px;
  
}
   .footer input{
    padding: 5px;
   
}
}

/*responsive design to section */
@media screen and (min-width:300px) and (max-width :600px){
 .Newslater h2{
    font-size: 24px;
 }   
.Newslater button{
    padding: 8px 20px;
   
    font-size: 14px;
}
}