*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
 --primarycolor:#FB2E86;
}
body{
    height: 7000px;
}

a{
    text-decoration: none;
    color: #0D0E43;
}
ul{
   list-style-type: none;   
}
.containar{
    width: 100%;
    padding: 0 300px;
    max-width: 1400%;
    margin: 0 auto;
}
.header{
    width: 100%;
    position: fixed;
    padding: 40px 0;
}
.logo img{
    width: 98px;
    height: 34px;
}
.right{
    display: flex;
    gap: 88px;
    align-items: center;
}
.list ul{
    display: flex;
    list-style-type: none;
    gap: 35px;
    
}
.header .containar{
 display: flex;
   gap:230px;
   align-items: center;

}
.search-form{
    display: flex;
}
.search-form form {
    display: flex;
     border: 2px solid #E7E6EF;
    height: 40px;
}
.header input{
    border: 0;
}
.header button{
    border: 0;
    width: 50px;
    /* height: 40px; */
    background-color: var(--primarycolor);
   
}
.list a{
    transition: .9s;
}
.list a:hover{
color: var(--primarycolor);
}
.icon{
    display: none;
}

@media screen and (max-width :1360px) and (min-width:1156px) {
.header .containar{
 
   gap:100px;
  
}
.right{
    gap: 40px;
}

}
@media screen and (max-width :1157px) and (min-width:700px){

  .list ul,.search-form form{
    display: none;
  }
  .icon{
    display: block;
    font-size: 28px;
  }
}
@media screen and (max-width :701px) and (min-width:300px){
    .list ul,.search-form form{
    display: none;
  }
  .icon{
    display: block;
    font-size: 28px;
  }
  .header{
    width: 100%;
  }
  .header .containar{
 
   gap:10px;
  display: flex;
  flex-wrap: wrap;
 text-align: center;
 justify-content: center;
 align-items: center;
 padding:0 46px;
}

}
